.vdr-container {
  position: absolute;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.vdr-container.active {
  border-color: #000;
  border-style: dashed;
  z-index: 9999 !important; /* Bring to top when active */
}
.vdr-container.dragging {
  border-color: #000;
  border-style: solid;
  z-index: 9999 !important; /* Bring to top when dragging */
}
.vdr-container.resizing {
  z-index: 9999 !important; /* Bring to top when resizing */
}
.vdr-handle {
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  background: #f0f0f0;
  border: 1px solid #333;
}
.vdr-handle-tl {
  top: -4px;
  left: -4px;
  cursor: nw-resize;
}
.vdr-handle-tm {
  top: -4px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}
.vdr-handle-tr {
  top: -4px;
  right: -4px;
  cursor: ne-resize;
}
.vdr-handle-ml {
  top: 50%;
  margin-top: -3px;
  left: -4px;
  cursor: w-resize;
}
.vdr-handle-mr {
  top: 50%;
  margin-top: -3px;
  right: -4px;
  cursor: e-resize;
}
.vdr-handle-bl {
  bottom: -4px;
  left: -4px;
  cursor: sw-resize;
}
.vdr-handle-bm {
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
  cursor: s-resize;
}
.vdr-handle-br {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}

/* Rotate handle */
.vdr-rotate-handle {
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #1890ff;
  border-radius: 50%;
  top: -30px;
  left: 50%;
  margin-left: -7px;
  cursor: grab;
  z-index: 10;
}
.vdr-rotate-handle:hover {
  background: #e6f7ff;
  border-color: #40a9ff;
}
.vdr-rotate-handle:active {
  cursor: grabbing;
}
/* Rotate handle connector line */
.vdr-rotate-handle::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  background: #1890ff;
  top: 12px;
  left: 50%;
  margin-left: -0.5px;
}
/* Rotate icon inside handle */
.vdr-rotate-handle::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #1890ff;
  border-radius: 50%;
  border-top-color: transparent;
  top: 1px;
  left: 1px;
}

/* Rotating state */
.vdr-container.rotating {
  z-index: 9999 !important;
}
